; For mod version 4.86

[NoSale]
commodity_aluminium_ore
commodity_beryllium_ore
commodity_cobalt_ore
commodity_copper_ore
commodity_gold_ore
commodity_helium3
commodity_niobium_ore
commodity_platinum_ore
commodity_silver_ore
commodity_uncut_diamonds
commodity_premiumscrap

[Price]
; AI ID sold on gammu
MarketGood = ew06_02_base, dsy_license_helghast, 100000.00000, 0

; Miningmod price overrides:
; Scrap metal 
; Languedoc - Lodeve, price down adjustment
MarketGood = ew13_06_base, commodity_scrap_metal, 893.00000, 1
; New York: Norfolk, Rochester, Baltimore
MarketGood = li01_07_base, commodity_scrap_metal, 813.00000, 1
MarketGood = li01_13_base, commodity_scrap_metal, 69.00000, 1
MarketGood = li01_14_base, commodity_scrap_metal, 851.00000, 1
; Texas, Beaumont
MarketGood = li04_04_base, commodity_scrap_metal, 96.00000, 1
; Puerto Rico - Culebra and Vieques
MarketGood = li18_02_base, commodity_scrap_metal, 781.00000, 1
MarketGood = li18_04_base, commodity_scrap_metal, 753.00000, 1
; Sigma-13, Yanagi
MarketGood = bw05_03_base, commodity_scrap_metal, 121.00000, 1
; Pennsylvania - Allentown
MarketGood = li09_04_base, commodity_scrap_metal, 613.00000, 1


; ALUMINIUM
; Bretonia - Stokes
MarketGood = br04_02_base, commodity_aluminium_ore, 11880.00000, 1
; Kusari - Narita
MarketGood = ku01_02_base, commodity_aluminium_ore, 5040.00000, 1
; Liberty - Denver
MarketGood = li03_01_base, commodity_aluminium_ore, 8800.00000, 1
; Rheinland - The Ring
MarketGood = rh01_03_base, commodity_aluminium_ore, 1480.00000, 1
; Gallia - Roanne
MarketGood = ga04_03_base, commodity_aluminium_ore, 5100.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_aluminium_ore, 3564.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_aluminium_ore, 1512.00000, 1
MarketGood = ku06_01_base, commodity_aluminium_ore, 1512.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_aluminium_ore, 2640.00000, 1
MarketGood = li03_03_base, commodity_aluminium_ore, 2640.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_aluminium_ore, 444.00000, 1
; Gallia (Unlawful) - Pelussin
MarketGood = ga04_09_base, commodity_aluminium_ore, 1530.00000, 1


; BERYLLIUM
; Bretonia - Leeds
MarketGood = br04_01_base, commodity_beryllium_ore, 1708.00000, 1
; Kusari - Narita
MarketGood = ku01_02_base, commodity_beryllium_ore, 4760.00000, 1
; Liberty - Pittsburgh
MarketGood = li01_02_base, commodity_beryllium_ore, 8904.00000, 1
; Rheinland - Dortmund
MarketGood = rh01_05_base, commodity_beryllium_ore, 8260.00000, 1
; Gallia - Le Mans
MarketGood = ga05_01_base, commodity_beryllium_ore, 10878.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_beryllium_ore, 512.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_beryllium_ore, 1428.00000, 1
MarketGood = ku06_01_base, commodity_beryllium_ore, 1428.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_beryllium_ore, 2671.00000, 1
MarketGood = li03_03_base, commodity_beryllium_ore, 2671.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_beryllium_ore, 2478.00000, 1
; Gallia (Unlawful) - Chateau-Gontier
MarketGood = ga05_09_base, commodity_beryllium_ore, 3263.00000, 1


; COBALT
; Bretonia - Leeds
MarketGood = br04_01_base, commodity_cobalt_ore, 4554.00000, 1
; Kusari - Narita
MarketGood = ku01_02_base, commodity_cobalt_ore, 7912.00000, 1
; Liberty - Denver
MarketGood = li03_01_base, commodity_cobalt_ore, 10465.00000, 1
; Rheinland - Dortmund
MarketGood = rh01_05_base, commodity_cobalt_ore, 2944.00000, 1
; Gallia - Amiens
MarketGood = ga03_01_base, commodity_cobalt_ore, 10868.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_cobalt_ore, 1366.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_cobalt_ore, 2374.00000, 1
MarketGood = ku06_01_base, commodity_cobalt_ore, 2374.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_cobalt_ore, 3140.00000, 1
MarketGood = li03_03_base, commodity_cobalt_ore, 3140.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_cobalt_ore, 1178.00000, 1
; Gallia (Unlawful) - Eplessier
MarketGood = ga03_08_base, commodity_cobalt_ore, 3260.00000, 1


; COPPER
; Bretonia - Leeds
MarketGood = br04_01_base, commodity_copper_ore, 5880.00000, 1
; Kusari - Narita
MarketGood = ku01_02_base, commodity_copper_ore, 7776.00000, 1
; Liberty - Denver
MarketGood = li03_01_base, commodity_copper_ore, 9600.00000, 1
; Rheinland - Nuremburg
MarketGood = rh06_05_base, commodity_copper_ore, 2736.00000, 1
; Gallia - Alesia
MarketGood = ew15_02_base, commodity_copper_ore, 4512.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_copper_ore, 1764.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_copper_ore, 2333.00000, 1
MarketGood = ku06_01_base, commodity_copper_ore, 2333.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_copper_ore, 2880.00000, 1
MarketGood = li03_03_base, commodity_copper_ore, 2880.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_copper_ore, 821.00000, 1
; Gallia (Unlawful) - Montbard
MarketGood = ew15_03_base, commodity_copper_ore, 1354.00000, 1


; GOLD
; Bretonia - Waterloo
MarketGood = br01_04_base, commodity_gold_ore, 672.00000, 1
; Kusari - Roppongi
MarketGood = ku01_04_base, commodity_gold_ore, 9576.00000, 1
; Liberty - Pittsburgh
MarketGood = li01_02_base, commodity_gold_ore, 8288.00000, 1
; Rheinland - New Berlin
MarketGood = rh01_01_base, commodity_gold_ore, 8904.00000, 1
; Gallia - New Paris, Saint Denis
MarketGood = ga01_02_base, commodity_gold_ore, 11088.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_gold_ore, 672.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_gold_ore, 2873.00000, 1
MarketGood = ku06_01_base, commodity_gold_ore, 2873.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_gold_ore, 2486.00000, 1
MarketGood = li03_03_base, commodity_gold_ore, 2486.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_gold_ore, 2671.00000, 1
; Gallia (Unlawful) - Beaumont
MarketGood = ga01_06_base, commodity_gold_ore, 3326.00000, 1


; HELIUM-3
; No sellpoint in Gallia - they do not use H-Fuel
; Bretonia - South Shields
MarketGood = br07_07_base, commodity_helium3, 6940.00000, 1
; Bretonia - Southampton
MarketGood = br01_02_base, commodity_helium3, 10726.00000, 1
; Kusari - Osaka
MarketGood = ku04_02_base, commodity_helium3, 1063.00000, 1
; Kusari - Aomori
MarketGood = ku04_05_base, commodity_helium3, 625.00000, 1
; Liberty - Pittsburgh
MarketGood = li01_02_base, commodity_helium3, 8150.00000, 1
; Rheinland - Mannheim
MarketGood = rh04_03_base, commodity_helium3, 4800.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_helium3, 3525.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_helium3, 319.00000, 1
MarketGood = ku06_01_base, commodity_helium3, 319.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_helium3, 2445.00000, 1
MarketGood = li03_03_base, commodity_helium3, 2445.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_helium3, 1440.00000, 1


; NIOBIUM
; Bretonia - Waterloo
MarketGood = br01_04_base, commodity_niobium_ore, 1566.00000, 1
; Kusari - Narita
MarketGood = ku01_02_base, commodity_niobium_ore, 4698.00000, 1
; Liberty - Denver
MarketGood = li03_01_base, commodity_niobium_ore, 9990.00000, 1
; Rheinlsnd - New Berlin
MarketGood = rh01_01_base, commodity_niobium_ore, 9882.00000, 1
; Gallia - Chateaudin
MarketGood = ga02_07_base, commodity_niobium_ore, 7776.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_niobium_ore, 470.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_niobium_ore, 1409.00000, 1
MarketGood = ku06_01_base, commodity_niobium_ore, 1409.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_niobium_ore, 2997.00000, 1
MarketGood = li03_03_base, commodity_niobium_ore, 2997.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_niobium_ore, 2965.00000, 1
; Gallia (Unlawful) - Epernon
MarketGood = ga02_04_base, commodity_niobium_ore, 2333.00000, 1


; PLATINUM
; Bretonia - Waterloo
MarketGood = br01_04_base, commodity_platinum_ore, 10650.00000, 1
; Kusari - Roppongi
MarketGood = ku01_04_base, commodity_platinum_ore, 2790.00000, 1
; Liberty - Pittsburgh
MarketGood = li01_02_base, commodity_platinum_ore, 3390.00000, 1
; Rheinland - New Berlin
MarketGood = rh01_01_base, commodity_platinum_ore, 10725.00000, 1
; Gallia - New Paris, Saint Denis
MarketGood = ga01_02_base, commodity_platinum_ore, 5160.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_platinum_ore, 3195.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_platinum_ore, 837.00000, 1
MarketGood = ku06_01_base, commodity_platinum_ore, 837.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_platinum_ore, 1017.00000, 1
MarketGood = li03_03_base, commodity_platinum_ore, 1017.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_platinum_ore, 3218.00000, 1
; Gallia (Unlawful) - Beaumont
MarketGood = ga01_06_base, commodity_platinum_ore, 1548.00000, 1


; SILVER
; Bretonia - Planet Harris
MarketGood = bw10_01_base, commodity_silver_ore, 10594.00000, 1
; Bretonia - Canterbury Station
MarketGood = br01_05_base, commodity_silver_ore, 5076.00000, 1
; Kusari - Narita
MarketGood = ku01_04_base, commodity_silver_ore, 9288.00000, 1
; Liberty - California Minor
MarketGood = li02_02_base, commodity_silver_ore, 9153.00000, 1
; Rheinland - New Berlin
MarketGood = rh01_01_base, commodity_silver_ore, 1863.00000, 1
; Gallia - Alesia
MarketGood = ew15_02_base, commodity_silver_ore, 12082.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_silver_ore, 3178.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_silver_ore, 2786.00000, 1
MarketGood = ku06_01_base, commodity_silver_ore, 2786.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_silver_ore, 2746.00000, 1
MarketGood = li03_03_base, commodity_silver_ore, 2746.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_silver_ore, 559.00000, 1
; Gallia (Unlawful) - Montbard
MarketGood = ew15_03_base, commodity_silver_ore, 3625.00000, 1


; UNCUT DIAMONDS
; Bretonia - Waterloo
MarketGood = br01_04_base, commodity_uncut_diamonds, 5880.00000, 1
; Kusari - Roppongi
MarketGood = ku01_04_base, commodity_uncut_diamonds, 8848.00000, 1
; Liberty - Newark
MarketGood = li01_08_base, commodity_uncut_diamonds, 10136.00000, 1
; Rheinland - Essen
MarketGood = rh01_06_base, commodity_uncut_diamonds, 2100.00000, 1
; Rheinland - The Ring
MarketGood = rh01_03_base, commodity_uncut_diamonds, 2072.00000, 1
; Gallia - Alesia
MarketGood = ew15_02_base, commodity_uncut_diamonds, 12197.00000, 1
; Bretonia (Unlawful) - Trafalgar
MarketGood = br01_08_base, commodity_uncut_diamonds, 1764.00000, 1
; Kusari (Unlawful) - Kabukichu and Kyoto
MarketGood = ku01_07_base, commodity_uncut_diamonds, 2654.00000, 1
MarketGood = ku06_01_base, commodity_uncut_diamonds, 2654.00000, 1
; Liberty (Unlawful) - Rochester and Ouray
MarketGood = li01_13_base, commodity_uncut_diamonds, 3041.00000, 1
MarketGood = li03_03_base, commodity_uncut_diamonds, 3041.00000, 1
; Rheinland (Unlawful) - Kreuzberg
MarketGood = rh01_08_base, commodity_uncut_diamonds, 630.00000, 1
; Gallia (Unlawful) - Montbard
MarketGood = ew15_03_base, commodity_uncut_diamonds, 3659.00000, 1


; PREMIUM SCRAP
; Corsairs - Tripoli
MarketGood = hi02_02_base, commodity_premiumscrap, 4040.00000, 1
; Outcasts - Valetta
MarketGood = hi01_03_base, commodity_premiumscrap, 3936.00000, 1
; Borderworlds - Aland
MarketGood = bw01_06_base, commodity_premiumscrap, 2352.00000, 1
; Borderworlds - Sabah
MarketGood = iw11_03_base, commodity_premiumscrap, 3240.00000, 1
; Borderworlds - Singapore
MarketGood = bw16_02_base, commodity_premiumscrap, 3432.00000, 1
; Kusari - Yokohama
MarketGood = ku01_03_base, commodity_premiumscrap, 2484.00000, 1
